@tailwind base;
@tailwind components;
@tailwind utilities;

.max-w{
  @apply max-w-screen-xl mx-auto px-4
}

.hero-img{
  background:  linear-gradient(to top, #000000c0, #000000b1),url(../src/assets/bg-home.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
}
.footer{
  width: 100%;
  background:  linear-gradient(to top, #000000ef, #000000e8),url(../src/assets/footer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.banner-img{
  width: 100%;
  background: url(../src/assets/bg3-h3-3.jpg) no-repeat;
  background-position: center;
}


/* .b{
  color: #fff2e0;
} */